/* BODY */

body {
    font-family: Arial, sans-serif;
    min-width: 455px;
}

/* NAVBAR */

.navbar {
    padding-left: 50px;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#title {
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tooltip-container {
    color: #0d6efd;
}

.tooltip-icon {
    font-weight: bold;
    background: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    width: 220px;
    font-size: 13px;
    text-align: left;
    border-radius: 5px;
    padding: 8px 10px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip-icon:hover+.custom-tooltip {
    visibility: visible;
    opacity: 1;
}

/* MAIN */

.main-container {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

/* SESSION AND AUDIO STATE */

.session-container {
    padding-bottom: 20px;
}

.stateOn {
    color: green;
}

.stateOff {
    color: red;
}

.stateDisabled {
    color: #adb5bd;
}

.stateEnabled {
    color: #6c757d;
}

#sessionState,
#audioState {
    font-weight: bold;
}

#audioState {
    color: #f8f9fa;
}

/* TWO BIG SECTIONS */

.left-section-container,
.right-section-container {
    margin-bottom: 15px;
}

.left-section,
.right-section {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #6c757d;
    border-radius: 8px;
    height: 100%;
}

/* TOP ROW OF SECTIONS */

.topRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    height: 90px;
    color: #f8f9fa;
}

/* COORDS ROW */

#coordsRow {
    display: flex;
    gap: 0.5rem;
}

.coordField {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    height: 25px;
}

#xCoord,
#yCoord {
    width: 93px;
    height: 25px;
    background-color: #f8f9fa;
    color: #333;
}

/* HOTSPOT ROW */

#hotspotRow {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    height: 25px;
}

#hotspotSelect {
    width: 166px;
    height: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#hotspotSelect {
    background-color: #f8f9fa;
    color: #333;
}

/* IMAGE AND RESPONSE */

#image-area,
#response-area {
    flex-grow: 1;
    padding: 0px;
}

#modelResponse {
    padding: 12px;
    border-radius: 6px;
    background-color: #f8f9fa;
    color: #333;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-y: auto;
    height: 100%;
}

#imgTemplateContainer img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}